<div class="container vh-100">
    <div class="row d-flex justify-content-center h-100">
        <div
            class="
                col-sm-12 col-xl-10
                d-flex flex-column 
                justify-content-center 
                align-items-center 
                position-relative 
                py-3"
            >
            <!-- <img 
                class="" 
                src="assets/images/logos/logo.png" 
                alt="Cryptonite Logo" 
                width="30%"
            >
            <h3 class="my-4 text-primary fw-bold text-center">
                Welcome to Cryptonite account formation
            </h3> -->
            <register-form
                class="w-100 mb-5"
            ></register-form>
            <p class="text-primary font-weight-medium">
                Already have an account?<a
                    [routerLink]="['/accounts/login']"
                    class="text-primary font-weight-semibold"
                >
                    Sign in   
                </a>
            </p>
        </div>
    </div>
</div>