<div class="container">
  <!-- <app-child-test
    (edit)="edithandler($event)"
    (delete)="deletehandler()"
  ></app-child-test> -->
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-6 col-lg-7 mt-3">
      <p>test works!</p>
    </div>
    <div class="col-sm-12 col-lg-7 col-md-6">
      <ul>
        <li>
          orem ipsum dolor sit, amet consectetur adipisicing elit. Tempora
          perferendis blanditiis perspiciatis molestias nobis voluptas error,
          eos doloremque incidunt accusamus ipsum cum sit quasi quidem autem!
          Qui error iste laboriosam.
        </li>
        <br />
        <li>
          orem ipsum dolor sit, amet consectetur adipisicing elit. Nobis odit
          praesentium vitae, nostrum mollitia aspernatur nesciunt expedita
          quidem incidunt maxime ullam non ratione ad temporibus repellendus
          minima beatae, autem adipisci.
        </li>
        <br />
        <li>
          orem ipsum dolor sit amet consectetur adipisicing elit. Harum soluta
          error veritatis eos aperiam dolores fugiat corrupti hic, optio
          possimus deleniti quod cum rerum iusto fugit quibusdam porro dicta
          nemo.
        </li>
        <br />
        <li>
          orem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
          nemo quis tenetur dolorum, sint aspernatur ducimus libero repellat,
          placeat temporibus iste veniam impedit provident itaque maxime
          molestias odio totam ipsa!
        </li>
      </ul>
      <div class="spin"></div>
    </div>
  </div>
</div>
