<!-- User details -->
<div class="container py-5 px-4 vh-100">
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-12 col-sm-10 col-xl-8">
      <div class="text-center">
        <img
          class="img-fluid"
          src="assets/images/logos/logo.png"
          alt="Cryptonite Logo"
          width="30%"
        />
      </div>
      <h3 class="text-center my-4">User Account Details</h3>
      <div class="" *ngIf="user; else noData">
        <div class="mb-4">
          <p class="font-16px">Dear Customer,</p>
          <p class="font-16px">
            Below are the details of your account with Cryptonite
          </p>
          <hr class="bg-dark" />
        </div>
        <div>
          <div class="row mb-2">
            <div class="col-12 col-sm-6">
              <label for=""><strong>Customer Name</strong>:</label>
            </div>
            <div class="col-12 col-sm-6">
              <input
                type="text"
                value="{{ user.firstName }}{{ user.lastName }}"
                class="w-100"
                readonly
              />
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-12 col-sm-6">
              <label for=""><strong>Email</strong>:</label>
            </div>
            <div class="col-12 col-sm-6">
              <input
                type="text"
                value="{{ user.email }}"
                class="w-100"
                readonly
              />
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-12 col-sm-6">
              <label for=""><strong>Phone Number</strong>:</label>
            </div>
            <div class="col-12 col-sm-6">
              <input
                type="text"
                value="{{ user.PhoneContact }}"
                class="w-100"
                readonly
              />
            </div>
          </div>
        </div>
      </div>
      <ng-template #noData>
        <hr class="bg-dark" />
        <h2 class="text-center my-5" role="button">No user details found</h2>
      </ng-template>
    </div>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">firstName</th>
      <th scope="col">lastName</th>
      <th scope="col">Email</th>
      <th scope="col">phoneNumber</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody *ngIf="userdetails">
    <tr *ngFor="let user of userdetails; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td [(ngModel)]="user.firstName"></td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.PhoneContact }}</td>
      <td>
        <!-- <app-data-actions></app-data-actions> -->
        <mat-icon (click)="editModal(account)" style="color: green"
          >edit</mat-icon
        >
      </td>
      <td>
        <!-- <app-data-actions></app-data-actions> -->
        <mat-icon (click)="confirm()" style="color: red">delete</mat-icon>
      </td>
    </tr>
  </tbody>
</table>
